body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.oppo{
    scroll-snap-type: y mandatory;  
}
.prima_pagina{
    background: url(img/chadWallpaper);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.seconda_pagina{
    background: url(img/sfondo1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.terza_pagina{
    background: url(img/sfondo2.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}

.quarta_pagina{
    background: url(img/sfondo3.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
}

.quinta_pagina{
    background: url(img/sfondo4.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.sesta_pagina{
    background: url(img/sfondo5.jpeg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
}

.giga{
    font-size: 200%;
    color: white;
}

.chad{
    font-size: 200%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text1{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: white;
}

.text2{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: white;
}

.text3{
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: white;
}

.text4{
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: white;
}

.text5{
    position: absolute;
    top: 550%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: white;
}
